.list-root {
  padding: 1rem;
  min-height: 500px;

  & li {
    line-height: 1.8;

    @apply duration-150 transition-transform;

    &:hover {
      @apply transform translate-x-4;
    }
  }

  & .title {
    @apply text-lg;
  }
  & .created {
    @apply ml-4 text-sm text-opacity-85;
  }
}
