header.header-wrapper {
  @apply flex justify-between my-8 items-center;

  & h1 {
    @apply cursor-pointer m-0 relative;

    & small {
      @apply text-sm ml-3;

      font-family: Heiti SC;

      &::before {
        content: 'ー ';
      }

      @screen phone {
        & {
          @apply absolute left-0 right-0 m-0 text-text-gray text-right whitespace-nowrap;

          bottom: -1.4rem;

          &::before {
            content: '';
          }
        }
      }
    }
  }

  & .links {
    @apply relative;

    & > a {
      @apply ml-4;
    }
  }
}
