header.header-wrapper {
  @apply my-8 flex items-center justify-between;

  & h1 {
    @apply relative m-0 cursor-pointer;

    & small {
      @apply ml-3 text-sm;

      font-family: Heiti SC;

      &::before {
        content: 'ー ';
      }

      @screen sm {
        & {
          @apply absolute left-0 right-0 m-0 whitespace-nowrap text-right text-gray-400 dark:text-gray-600;

          bottom: -1.4rem;

          &::before {
            content: '';
          }
        }
      }
    }
  }

  & .links {
    @apply relative;

    & > a {
      @apply ml-4;
    }
  }
}
