@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;400&family=Roboto+Slab:wght@300&display=swap');
html,
body {
  font-family: 'Roboto Slab', serif;

  @apply bg-backcolor;
}

body {
  min-height: 100%;

  @screen phone {
    @apply px-4;
  }
}
a {
  @apply transition-opacity duration-75;
}
a:hover {
  @apply text-opacity-85;
}
